<!DOCTYPE html>
<html lang="en">
<head>
  <title>YERP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script>
	var thing = document.getElementById("player");
	thing.volume = 0.2;
  </script>
</head>
<body>

<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-tabs nav-justified">
			{% include 'navigation.html' %}
			<!--
			<li><a href="/">Home</a></li>
			<li><a href="/audio">Audio</a></li>
			<li><a href="/video">Video</a></li>
			-->
		</ul>	
	</div>
</div>
<form class="form-horizontal">
<div class="panel panel-default">
	<div class="panel-body">
		<!--
		<div class="form-group">
			<label for="video-id">Video Link:</label>
			<input type="text" class="form-control" id="video-id">
			<button type="submit" class="btn btn-default">Download</button>
		<div/>
		-->
		<table style="width: 45%">
		{% for song in contents %}
		<tr>
			<td>Song:{{ song.name }}</td>
			<td>
					<audio id="player" class="plyr plyr--full-ui plyr--audio" controls crossorigin playsinline data-plyr-config='{ "volume": 0.1 }'>
					<source src="/{{ song.path }}" type="audio/mpeg" />
					</audio>
			</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
</form>
</body>
</html> 
