<!DOCTYPE html>
<html lang="en">
<head>
  <title>YERP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-tabs nav-justified">
			{% include 'navigation.html' %}
		</ul>	
	</div>
</div>
<form class="form-horizontal" action="/rip/audio" method="post">
<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group">
			<label for="video_id">Video Link:</label>
			<input type="text" class="form-control" id="video_id" name="video_id">
			<button type="submit" class="btn btn-default">Download</button>
		<div/>
		</form>	
	</div>
</div>
</form>
</body>
</html> 
