<li><a href="/">Home</a></li>
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Audio
	<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/audio/rip">Rip</a></li>
		<li><a href="/audio/play">Play</a></li>
	</ul>
</li>
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Video
	<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/video/rip">Rip</a></li>
		<li><a href="/video/play">Play</a></li>
	</ul>
</li>
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
	<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/admin/update-yt">Update youtube-dl</a></li>
	</ul>
</li>
